---
import WorkImg from "@lib/components/WorkImg.astro";
import WorkLayout from "src/layouts/WorkLayout.astro";

export let title = "Draft";
---

<WorkLayout>
  <h1>{title}</h1>
  <WorkImg dir={title.toLowerCase()} src="draft0.png" />
</WorkLayout>
