---
import BaseLayout from "src/layouts/BaseLayout.astro";

interface Work {
  title: string;
}
const works = await Astro.glob<Work>("./*.md");
---

<BaseLayout pageOrder={1}>
  <h1>Works</h1>
  <ul>
    {
      works.map(work => {
        return (
          <li>
            <a href={work.url.replace("_", "")}>{work.frontmatter.title}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
