---
import "@lib/styles/main.css";
import Nav, { type route } from "@comp/Nav.astro";
import Transition from "@comp/Transition.astro";
import Grain from "@lib/components/arte/Grain.astro";
import GridLines from "@lib/components/arte/GridLines.astro";

interface Props {
  pageOrder?: number;
}

const routes: route[] = [
  { name: "Home", path: "/" },
  { name: "Work", path: "/work/" },
];

const { pageOrder } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="is-animating">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script defer>
      window.onload = e => {
        document.documentElement.classList.remove("is-animating");
      };
    </script>
  </head>
  <body data-page-order={pageOrder}>
    <GridLines class="text-prim opacity-50" patternSize={24} sWidth={0.2} />
    <Nav routes={routes} />
    <Transition
      class="end swap"
      as={"main"}
      out={{
        transform: { translate: { y: -5 } },
      }}
      in={{
        transform: {
          translate: {
            y: 5,
          },
        },
      }}
    >
      <slot />
    </Transition>
    <Grain />
    <script>
      import "../lib/rooter";
    </script>
  </body>
</html>

<style>
  body {
    box-shadow: inset 0 0 48px 8px hsl(var(--col-prim) / 0.1);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: min-content 1fr min-content;
  }
  :global(body > nav) {
    grid-row: 3;
    grid-column: 3;
    z-index: 5;
  }
  :global(main) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    grid-row: 1/-1;
    grid-column: 1/-1;

    padding: 8px;

    contain: strict;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: hsl(var(--col-prim)) transparent;
    scrollbar-width: thin;
  }
  @media (min-width: 640px) {
    :global(body > nav) {
      grid-row: 1;
      grid-column: 1;
    }
    :global(main) {
      padding-top: 40px;
    }
  }
</style>
