---
import "@lib/styles/main.css";
import Nav, { type route } from "@comp/Nav.astro";
import Transition from "@comp/Transition.astro";
import Grain from "@lib/components/arte/Grain.astro";
import GridLines from "@lib/components/arte/GridLines.astro";

interface Props {
  title?: string;
  pageOrder?: number;
  class?: string;
}

const routes: route[] = [
  { name: "Home", path: "/" },
  { name: "Work", path: "/work/" },
];

const { pageOrder, class: _class, title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "no title"}</title>
    <!-- <script defer>
      window.onload = e => {
        document.documentElement.classList.remove("is-animating");
      };
    </script> -->
  </head>
  <body data-page-order={pageOrder}>
    <GridLines class="text-prim opacity-50" patternSize={20} sWidth={0.4} />
    <Nav routes={routes} />
    <div class="wrapper col-span-full row-span-full">
      <Transition
        class={`end swap ${_class}`}
        as={"main"}
        out={{
          transform: { translate: { y: -5 } },
        }}
        in={{
          transform: {
            translate: {
              y: 5,
            },
          },
        }}
      >
        <slot />
      </Transition>
    </div>
    <Grain />
    <script>
      import "../lib/rooter";
    </script>
  </body>
</html>

<style>
  body {
    box-shadow: inset 0 0 48px 8px hsl(var(--col-prim) / 0.1);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: min-content 1fr min-content;
  }
  :global(body > nav) {
    grid-row: 3;
    grid-column: 3;
    z-index: 5;
  }
  :global(main) {
    overflow: hidden;
    /* height: 100%; */
    display: grid;
    /* grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr); */

    /* grid-row: 1/-1;
    grid-column: 1/-1; */

    padding: 8px;

    /* contain: strict; */
    /* overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: hsl(var(--col-prim)) transparent;
    scrollbar-width: thin; */
  }
  .wrapper {
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: hsl(var(--col-prim)) transparent;
    scrollbar-width: thin;
  }
  @media (min-width: 640px) {
    .wrapper {
      /* max-width: 64rem;
      margin-inline: auto; */
    }
    :global(body > nav) {
      grid-row: 1;
      grid-column: 1;
    }
    :global(main) {
      padding-top: 16px;
    }
    :global(main > *) {
      /* max-width: 64rem;
      margin-inline: auto; */
    }
  }
</style>
